body {
    font-family: 'Algerian', sans-serif;
    font-size:large;
    text-align: center;
}

ul {
    font-family:'Courier New', Courier, monospace;
}

h1, h2, p {
    text-align: center;
}

input {
    width: 100px;
    margin: 10px;
    border: 2px solid red;
    border-radius: 8px;
}

footer {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
